.book-object {
  position: relative;
  width: 200px;
  height: 275px;
  margin: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 8px 15px #050f30;
  -webkit-animation: shadow-pop-tl 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tl 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-tl {
    0% {
      -webkit-box-shadow: 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b;
              box-shadow: 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px -1px #ffb55b, -2px -2px #ffb55b, -3px -3px #ffb55b, -4px -4px #ffb55b, -5px -5px #ffb55b, -6px -6px #ffb55b, -7px -7px #ffb55b, -8px -8px #ffb55b;
              box-shadow: -1px -1px #ffb55b, -2px -2px #ffb55b, -3px -3px #ffb55b, -4px -4px #ffb55b, -5px -5px #ffb55b, -6px -6px #ffb55b, -7px -7px #ffb55b, -8px -8px #ffb55b;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tl {
    0% {
      -webkit-box-shadow: 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b;
              box-shadow: 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b, 0 0 #ffb55b;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px -1px #ffb55b, -2px -2px #ffb55b, -3px -3px #ffb55b, -4px -4px #ffb55b, -5px -5px #ffb55b, -6px -6px #ffb55b, -7px -7px #ffb55b, -8px -8px #ffb55b;
              box-shadow: -1px -1px #ffb55b, -2px -2px #ffb55b, -3px -3px #ffb55b, -4px -4px #ffb55b, -5px -5px #ffb55b, -6px -6px #ffb55b, -7px -7px #ffb55b, -8px -8px #ffb55b;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  